/* html, body {
  background-color: #aaa;
}

h1, p {
  font-family: Lato;
}

button {
  margin-right: 15px;
}

.app-container {
  margin-top: 15px;
}

.counter-box {
  margin-bottom: 15px;
} */

.modal-dialog {
  min-width: 75vw;
}